In [17]:
import pandas as pd

In [ ]:
#DataFrame.astype(dtype, copy=True, errors='raise') 열의 요소의 dtype을 변경

In [19]:
col1 = [1, 2, 3, 4]
col2 = [True, False, False, True]
col3 = [1.1, 2.2, 3.3, 4.4]
col4 = ['one', 'two', 'three', 'four']
index = ['r1','r2','r3','r4']
df = pd.DataFrame(index=index, data={"c1": col1, "c2": col2, "c3": col3, "c4": col4})
df

    c1     c2   c3     c4
r1   1   True  1.1    one
r2   2  False  2.2    two
r3   3  False  3.3  three
r4   4   True  4.4   four

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, r1 to r4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      4 non-null      int64
 1   c2      4 non-null      bool
 2   c3      4 non-null      float64
 3   c4      4 non-null      object
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 132.0+ bytes

In [21]:
df.dtypes

c1      int64
c2       bool
c3    float64
c4     object
dtype: object

In [22]:
#열의 dtype 변경 시 딕셔너리 형태로 {'열이름' : '변경 dtype'}와 같이 입력시 특정 열만 타입 변경
df1 = df.astype({'c1':'int32', 'c3':'int64'})
df1.dtypes

c1     int32
c2      bool
c3     int64
c4    object
dtype: object

In [23]:
df1

    c1     c2  c3     c4
r1   1   True   1    one
r2   2  False   2    two
r3   3  False   3  three
r4   4   True   4   four

In [ ]:
#모든 열의 dtype 변경. 변경불가능한 요소는 원래 dtype 그대로 보존.
df2= df.astype(dtype='int64',errors='ignore')
df2

    c1  c2  c3     c4
r1   1   1   1    one
r2   2   0   2    two
r3   3   0   3  three
r4   4   1   4   four

In [25]:
df2.dtypes

c1     int64
c2     int64
c3     int64
c4    object
dtype: object

In [42]:
#전체 데이터프레임이나 특정 열의 값들이 정의한 함수에 따라 일괄적으로 변경
df3 = pd.DataFrame([[4,9],[1,5],[8,9]], columns=['c1', 'c2'])
df3

   c1  c2
0   4   9
1   1   5
2   8   9

In [43]:
def add_one(x):
    return x + 1

In [45]:
df3['c1'] =  df3['c1'].apply(add_one)

In [46]:
df3

   c1  c2
0   5   9
1   2   5
2   9   9

In [47]:
df4 = pd.DataFrame([[1,4,9],[3,1,5],[5,8,9]], columns=['c1', 'c2','c3'])
df4

   c1  c2  c3
0   1   4   9
1   3   1   5
2   5   8   9

In [ ]:
import numpy as np
#모든 값에 대해 제곱근 처리
df4.apply(np.sqrt)

         c1        c2        c3
0  1.000000  2.000000  3.000000
1  1.732051  1.000000  2.236068
2  2.236068  2.828427  3.000000