In [14]:
#pip install pandas

In [15]:
import pandas as pd

In [16]:
print(pd.__version__)

2.2.3

In [17]:
data1 = [10, 20, 30, 40, 50]
sr1 = pd.Series(data1)
print(sr1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [18]:
sr2 = pd.Series(data1, index = [100, 101, 102, 103, 104])
sr2

100    10
101    20
102    30
103    40
104    50
dtype: int64

In [19]:
sr3 = pd.Series(['A', 'B', 'C', 'D', 'E'], index = ['월', '화', '수', '목', '금'])

In [20]:
sr3['수']

'C'

In [21]:
sr3[2]

C:\Users\tygks\AppData\Local\Temp\ipykernel_27508\589054859.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr3[2]

'C'

In [22]:
sr3[0:3]

월    A
화    B
수    C
dtype: object

In [23]:
#인덱스 구하기
sr3.index

Index(['월', '화', '수', '목', '금'], dtype='object')

In [24]:
#값 구하기
sr3.values

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [25]:
sr4 = pd.Series([101, 102, 103, 104, 105])
sr1 + sr4

0    111
1    122
2    133
3    144
4    155
dtype: int64

In [26]:
sr5 = pd.Series(['C', 'D', 'E', 'F', 'G'])
sr6 = pd.Series(['도', '레', '미', '파', '솔'])
sr5 + sr6

0    C도
1    D레
2    E미
3    F파
4    G솔
dtype: object